#sideBarId {
  margin-top: 1em;
  height: 90vh;
  width: 20%;
  background-image: url('/src/concepts/sidebar.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
#section {
  margin-top: 1em;
  margin-left: 1em;
  width: 90%;
  height: 90vh;
  background-image: url("/src/concepts/background-blurry-restaurant-shop-interior.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y: hidden;
}
.ulOfSection {
  list-style-type: none;
}
.saladsDiv {
  margin-left: 15em;
  font-weight: 600;
  background-color: lightcyan;
  width: 150px;
  display: flex;
  justify-content: center;
}

.aFoodContainer {
  width: 25%;
}
.imgItem {
  margin-top: 5em;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.imgItem :hover {
  border-radius: 15%;
  cursor: pointer;
  margin-top: 2em;
  height: 100%;
  overflow: hidden;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.Carusel {
  width: 100%;
}
#corusel-img{
    height: 450px
}
#avatar-dropdowntoggle{
  background-color: transparent;
  border: none;
}

